{% extends "main/base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Название объявления</th>
        </tr>
      </thead>
      <tbody>
      {% for ad in object_list %}
        <tr>
          <td><a href="{% url 'ad-detail' ad.pk %}">{{ ad.name }}</a></td>
        </tr>
        {% empty %}
        <tr>
          <td>You have no ads yet</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<nav aria-label="Page navigation ">
  {% if request.GET.tag == null %}
  <ul class="pagination">
  {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="page-item active" aria-current="num">
          <span class="page-link">{{num}}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{num}}">{{num}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
  {% else %}
  <ul class="pagination">
  {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?tag={{request.GET.tag}}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="page-item active" aria-current="num">
          <span class="page-link">{{num}}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?tag={{request.GET.tag}}&page={{num}}">{{num}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?tag={{request.GET.tag}}&page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>
{% endblock %}
